<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="https://www.linkedin.com/in/jairodealmeida/" class="navbar-brand">Jairo's LinkedIn</a></div>

  <ul class="navbar-nav">
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View All</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addcustomer" class="nav-link">Add New</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>


  </ul>

  </nav>

  </header>
