<div class="col-md-6">
  <h2 class="text-center">CREATE NEW CUSTOMER</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" [(ngModel)]="user.name" placeholder="Please enter with your full name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="registry">CPF/CNPJ:</label>
      <input [(ngModel)]="user.registry" placeholder="Please Info your country identifier" name="registry" class="form-control" id="registry">
    </div>

    <div class="form-group">
      <label for="empId">Address:</label>
      <input [(ngModel)]="user.address" placeholder="Please info you address" name="address" class="form-control" id="address">
    </div>



    <button class="btn btn-success" (click)="create()">Create</button>
  </form>
  </div>
