<!--div class="container">
  <div class="login_div">
    <form class="login_form" action="#">
      <div>UserName : </div> <div><input type="text" name="username" [(ngModel)]="username"></div>
      <div>Password : </div> <div><input type="password" name="password" [(ngModel)]="password"></div>
      <br>
      <button (click)=checkLogin() class="btn btn-success">Login</button>
    </form>

  </div>

</div-->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
        <div class="fadeIn first">
          <h3>Enter with credentials</h3>
        </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Enter with your username : brasilprev" [(ngModel)]="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter with you password : password" [(ngModel)]="password">
      <input type="button" (click)=checkLogin() class="fadeIn fourth" value="Login">

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
