<div class="col-md-6">
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Full name</th>
    <th>Registry number</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let model of customers">
          <td>{{model.name}}</td>
          <td>{{model.registry}}</td>
          <td>{{model.adress}}</td>
          <td><button class="btn btn-danger" (click)="delete(model)"> Delete</button></td>
          </tr>
  </tbody>
    </table>

  </div>
